<h1>Les détails:</h1>
<table class="table">
  <tr>
    <th>Produit</th>
    <th>Quantité</th>
    <th>Pourcentage Remise</th>
    <th>Montant Remise</th>
  </tr>
  <tbody *ngFor="let details of facture.detailFactures;">
    <tr>
      <td>{{details.produit.libelle}}</td>
      <td>{{details.qte}}</td>
      <td>{{details.pourcentageRemise}}</td>
      <td>{{details.montantRemise}}</td>
      <button class="btn btn-danger" (click)="delete(details.idDetailFacture)">Supprimer</button>
    </tr>
  </tbody>
</table>
<app-add-detail-facture *ngIf="addDet==true"></app-add-detail-facture>
<button class="btn btn-info" (click)="addDetail()">Ajouter un produit</button>
<span><h4>Client:</h4><p>{{facture.client.nom}} {{facture.client.prenom}}</p></span>
<span><h4>Montant Remise:</h4><p>{{facture.montantRemise}}</p></span>
<span><h4>Montant De Facture:</h4><p>{{facture.montantFacture}}</p></span>
<span><h4>Etat:</h4><p>{{facture.active}}</p></span>
<span><h4>Date:</h4><p>{{facture.dateFacture}}</p></span>
