<form class="form">
  <div class="form-group">
    <label>produit</label>
    <select name="produit" class="form-control" *ngFor="let prod of listeProduit" [(ngModel)]="idProduit" >
      <option value="{{prod.idProduit}}">{{prod.libelle}}</option>
    </select>
  </div>
  <div class="form-group">
    <label>Quantite</label>
    <input type="number" name="qte" class="form-control" [(ngModel)]="detailFacture.qte">
  </div>
  <div class="form-group">
    <label>Pourcentage Remise</label>
    <input type="number" name="pourcentageRemise" class="form-control" [(ngModel)]="detailFacture.pourcentageRemise">
  </div>
  <div class="form-group">
    <label>Montant Remise</label>
    <input type="number" name="montantRemise" class="form-control" [(ngModel)]="detailFacture.montantRemise">
  </div>
  <button class="btn btn-success" (click)="ajouter()">Ajouter</button>
</form>
